@font-face {  
  font-family: 'MozTTLight';  
  src: url(fonts/MozTT%20Light.ttf) format("truetype");  
}  

header,footer {

  width: 100%;

}
header {top: 0;}
footer {bottom: 0;}

.left, .right {
  width: 60px;
  height: 100%;
  position: absolute;
  top: 0;
  display: inline-block;
}
.right {right: 0;}
.left {left: 0;}

#settings {
  background: url('../img/icons/gear.png') no-repeat;
}


html,
body {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  height: 100%;
  font-family: "MozTTLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: white;
  line-height: 100%;
  overflow: hidden;
  color: #333333;
  width: 100%;
  margin: 0 auto;
}

#content {
  padding: 50px 0;
  padding-bottom: 70px;
  height: 100%;
}

.action-success {
  color: green;
}

.action-failure {
  color: red;
}

 input[type="text"] {
  font-size: 24px;
  font-family: inherit;
  line-height: 1.4em;
  border: 0;
  outline: none;
  padding: 6px;
  border: 1px solid #999999;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -ms-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
}

 input::-webkit-input-placeholder {
  font-style: italic;
}


#items, #lists, #settingsPanel, #editLists, #editItems {
  display: none;
}

.list {
  margin: 10px 0;
  padding: 0;
  list-style: none;
}

.list li {
  padding: 18px 20px 18px 10px;
  position: relative;
  font-size: 24px;
  border-bottom: 1px solid #cccccc;
}

.list li:last-child {
  border-bottom: none;
}
.list li a {
  text-overflow: ellipsis;
  overflow: hidden;
}
.liTitle {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.number {
  float:right;
  display: block;
  width: 10%;
  min-width: 60px;
  padding: 18px 0;
}
.listElmTitle {display: inline-block;position: relative;}

.list input[type="number"] {
  border: none;
  background: none;
  font-size: inherit;
  /*float: right;*/
  max-width: 100%;
  width: 30px;
  display:inline-block;
  margin: 0;
  padding: 0;
}
.list input[type="number"]:focus {
  border: 1px solid black;
  background: white;
  font-size: inherit;
}
.done {
  color: #777777;
  text-decoration: line-through;
}

.delete {
  /*position: absolute;*/
  display: block;
  float:right;
  right: 5px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-top: 2rem;
  background: url(../img/delete.png) no-repeat;
  pointer-events: auto;
}


.delete:hover {
  background-position: 0 -20px;
}

#add-item {
  width: 20px;
  font-size: 25px;
  background: #ddd;
}

#itemQty {width: 10% ;}
#itemName {width: -moz-calc(90% - 70px);}

#list li.editing {
  border-bottom: none;
  margin-top: -1px;
  padding: 0;
}

#list li.editing:last-child {
  margin-bottom: -1px;
}

#list li.editing .edit {
  display: block;
  width: 444px;
  padding: 15px 15px 14px 20px;
  margin: 0;
}

#list li.editing .view {
  display: none;
}

#list li .view label {
  word-break: keep-all;
}

#list li .edit {
  display: none;
}

.list {
  position: absolute;
  height: -moz-calc(100% - 8.5rem);
  width: 100%;
  overflow: scroll;
}

.add {
  padding: 10px;
  display: block;
  background: #666;
  width: 30px;
}

.button {
  display: none;
  float: right;
  line-height: 20px;
  font-size: 20px;
  font-weight: 800;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.1);

  margin-top: 8px;
  margin-bottom: 8px;
  padding: 0 10px 1px;
  cursor: pointer;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
  -ms-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
}

.button:hover {
  background: rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
  -ms-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
}

.button:active {
  position: relative;
  top: 1px;
}

.add {
  height: 42px;
  margin: 0;
  font-size: 60px;
  line-height: 42px;
}

#todo-count span {
  font-weight: bold;
}
/*button {display: none;}*/
section[role="region"] > header:first-child {
   position: fixed!important;
}

.pack-end {
  background: url('../img/icons/go.png') no-repeat;
  width: 16px;
  height: 16px;
}
.list{
  padding: 0!important;
  overflow: hidden;
  height: 100%;
}
.list > li {
  padding: 0 2rem;
  pointer-events: none;
}

span {
  pointer-events: auto;
}

.liTitle {
  pointer-events: auto;
  margin-left: 2rem;
}
.labelItem {
  margin-left: -3.5rem;
}

.icon-install {
  background: url('../img/icons/install.png') no-repeat;
}

.icon-complete {
  background: url('../img/icons/complete.png') no-repeat;
}
