@font-face {  
  font-family: 'MozTTLight';  
  src: url(fonts/MozTT%20Light.ttf) format("truetype");  
}  

header,footer {
  overflow: hidden;
  text-align: center;
  width: 100%;
  margin: 0px;
  background: -moz-linear-gradient(center top , rgb(198, 106, 0), rgb(181, 77, 23)) repeat scroll 0% 0% transparent;
  border-bottom: 1px solid rgb(147, 50, 18);
  box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.7);
  color: white;
  height: 2em;
  padding: 0.5em 0px;
  position: fixed;
  z-index: 1;
}
header {top: 0;}
footer {bottom: 0;}

header h1 {
  margin: -12px 60px 0px 60px;
  font-size: 2em;
  line-height: 40pt;
  text-align: center;
  position: relative;
  font-size: 20pt;
  font-weight: bold;
  text-align: center;
  padding: 0 0 10px 0;
  display: inline-block;
  height: 100%;

}
.left, .right {
  width: 60px;
  height: 100%;
  position: absolute;
  top: 0;
  display: inline-block;
}
.right {right: 0;}
.left {left: 0;}

#settings {
  background: url('../img/icons/gear.png') no-repeat;
  width: 10px;
  height: 30px;
  margin-right: 10px;
}


html,
body {
  margin: 0;
  padding: 0;
}

body {
  font: 14px "MozTTLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #eeeeee;
  color: #333333;
  width: 100%;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
}

#content {
  padding: 45px 0;
  height: 100%;
}
 input[type="text"] {
  font-size: 24px;
  font-family: inherit;
  line-height: 1.4em;
  border: 0;
  outline: none;
  padding: 6px;
  border: 1px solid #999999;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -ms-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
}

 input::-webkit-input-placeholder {
  font-style: italic;
}

.checkboxSquared input[type="checkbox"] { visibility: hidden;display: none;}
.checkboxSquared {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin-right: 10px;
  background: #fcfff4;

  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );

  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  position: relative;
}

.checkboxSquared label {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 4px;
  top: 4px;

  -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
  -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

  background: -webkit-linear-gradient(top, #ddd 0%, #a0a6b2 100%);
  background: -moz-linear-gradient(top, #ddd 0%, #a0a6b2 100%);
  background: -o-linear-gradient(top, #ddd 0%, #a0a6b2 100%);
  background: -ms-linear-gradient(top, #ddd 0%, #a0a6b2 100%);
  background: linear-gradient(top, #ddd 0%, #a0a6b2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ddd', endColorstr='#a0a6b2',GradientType=0 );
}
.checkboxSquared label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 4px;
  left: 4px;
  border: 3px solid #fcfff4;
  border-top: none;
  border-right: none;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.checkboxSquared label:hover::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.3;
}

.checkboxSquared input[type=checkbox]:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}


section {
  display: none;
}

.list {
  margin: 10px 0;
  padding: 0;
  list-style: none;
}

.list li {
  padding: 18px 20px 18px 10px;
  position: relative;
  font-size: 24px;
  border-bottom: 1px solid #cccccc;
}

.list li:last-child {
  border-bottom: none;
}
.list li a {
  text-overflow: ellipsis;
  overflow: hidden;
}
.number {
  float:right;
  display: block;
  width: 10%;
  min-width: 60px;
}
.listElmTitle {display: inline-block;position: relative;}

.list input[type="number"] {
  border: none;
  background: none;
  font-size: inherit;
  /*float: right;*/
  max-width: 100%;
  width: 30px;
  display:inline-block;
  margin: 0;
  padding: 0;
}
.list input[type="number"]:focus {
  border: 1px solid black;
  background: white;
  font-size: inherit;
}
.done {
  color: #777777;
  text-decoration: line-through;
}

.delete {
  /*position: absolute;*/
  display: block;
  float:right;
  right: 5px;
  top: 20px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: url(../img/delete.png) no-repeat;
}


.delete:hover {
  background-position: 0 -20px;
}

#add-item {
  width: 20px;
  font-size: 25px;
  background: #ddd;
}

#itemQty {width: 40px;}
#itemName {width: 200px;}

#list li.editing {
  border-bottom: none;
  margin-top: -1px;
  padding: 0;
}

#list li.editing:last-child {
  margin-bottom: -1px;
}

#list li.editing .edit {
  display: block;
  width: 444px;
  padding: 15px 15px 14px 20px;
  margin: 0;
}

#list li.editing .view {
  display: none;
}

#list li .view label {
  word-break: keep-all;
}

#list li .edit {
  display: none;
}

#listName {
  width: -moz-calc(100% - 70px);
}

.add {
  padding: 10px;
  display: block;
  background: #666;
  width: 30px;
}

.button {
  display: none;
  float: right;
  line-height: 20px;
  font-size: 20px;
  font-weight: 800;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.1);

  margin-top: 8px;
  margin-bottom: 8px;
  padding: 0 10px 1px;
  cursor: pointer;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
  -ms-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
}

.button:hover {
  background: rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
  -ms-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
}

.button:active {
  position: relative;
  top: 1px;
}

#todo-count span {
  font-weight: bold;
}
